@model List<Digital.Dto.ProductViewDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_adminLayout.cshtml";
}
<!--start page wrapper -->
<div class="main-wrapper">
    <!--breadcrumb start-->
    <div class="page-title-box">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-sm-5 col-xl-6">
                    <div class="page-title">
                        <h4>Product</h4>

                    </div>
                </div>
                <div class="col-sm-7 col-xl-6">
                    <div class="d-flex justify-content-sm-end">
                        <button type="button" class="btn btn-primary m-3" data-toggle="modal" data-target="#addProductModal" data-modalTitle="Add Product Details">
                            Add Product
                        </button>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumb end-->
    <!-- Button to trigger the modal -->
    <div class="page-content m-3">
        <div class="row">
            <div class="col-12">
                <div class="card">

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" id="table-1">
                                <thead>
                                    <tr>

                                        <th scope="col">Title</th>
                                        <th scope="col">Image</th>
                                        <th scope="col">Sub Category</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Comapare Price</th>
                                        <th scope="col">Cost Price</th>
                                        <th scope="col">Action</th>
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        foreach (var item in Model)
                                        {
                                            <tr>
                                                <td>@item.Title</td>
                                                <td>@item.ImagePath</td>
                                                <td>@item.SubcategoryId</td>
                                                <td>@item.Price</td>
                                                <td>@item.ComparePrice</td>
                                                <td>@item.CostPrice</td>
                                                <td>
                                                    @* <a href="@Url.Action("UpdateProductAsync", "Product", new { id = item.ProductId })">Edit</a> | *@
                                                    <a id="edit-product" pid="@item.ProductId" onclick="EditProduct(this)">Edit</a> |
                                                    <a href="@Url.Action("DeleteProduct", "Product", new { id = item.ProductId })">Delete</a>
                                                </td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<!--end page wrapper -->
<!--start overlay-->
<div class="overlay toggle-icon">
</div>
<!--end overlay-->


<div class="modal fade" id="addProductModal" tabindex="-1" role="dialog" aria-labelledby="addDoctorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" >Add Product Details</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form action="/Product/SaveProduct" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="ProductId" id="ProductId" />
                    <div>
                        <label for="Title">Title:</label>
                        <input type="text" id="Title" name="Title" class="form-control" />
                    </div>
                    <div>
                        <label for="SubcategoryId">Sub category:</label>
                        <select id="SubcategoryId" name="SubcategoryId" class="form-control">
                            @foreach (var subcategory in ViewBag.SubCategoryList)
                            {
                                <option value="@subcategory.Value">@subcategory.Text</option>
                            }
                        </select>
                    </div>
                    <div>
                        <label for="Description">Description:</label>
                        <textarea id="Description" name="Description" class="form-control"></textarea>
                    </div>
                    <div>
                        <label for="Price">Price:</label>
                        <input type="number" step="0.01" id="Price" name="Price" class="form-control" />
                    </div>
                    <div>
                        <label for="ComparePrice">Compare Price:</label>
                        <input type="number" step="0.01" id="ComparePrice" name="ComparePrice" class="form-control" />
                    </div>
                    <div>
                        <label for="CostPrice">Cost Price:</label>
                        <input type="number" step="0.01" id="CostPrice" name="CostPrice" class="form-control"  />
                    </div>
                    <div>
                        <label for="file">Upload File:</label>
                        <input type="file" id="file" name="File" class="form-control" />
                    </div>
                    <br />
                    <div>
                        <input type="submit" value="Submit" />
                    </div>
                </form>


            </div>
        </div>
    </div>
</div>

<script>
    function EditProduct(obj) {
        var pid = $(obj).attr('pid');

        $.ajax({
            url: '/Admin/Product/UpdateProduct?Data=' + pid,

            method: 'GET',
            success: function (data) {
                $('#ProductId').val(data.productId);
                $('#Title').val(data.title);

                $('#SubcategoryId').val(data.subcategoryId);
                $('#Description').val(data.description);
                $('#Price').val(data.price);
                $('#ComparePrice').val(data.comparePrice);
                $('#CostPrice').val(data.costPrice);
                $('#ImagePath').val(data.imagePath);
              
                $("#addProductModal .modal-title").text("Update Product Details");
                $("#addProductModal .btn-primary").text("Update ");
                $('#addProductModal').modal('show');
            }
        });
    }


</script>