@model Digital.Dto.CategoryViewDto
@{
    ViewData["Title"] = "CreateEdit";
    Layout = "~/Areas/Admin/Views/Shared/_adminLayout.cshtml";
}

<!--start page wrapper -->
<div class="main-wrapper">
    <!--breadcrumb start-->
    <div class="page-title-box">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-sm-5 col-xl-6">
                    <div class="page-title">
                        <h4>Category</h4>
                        <ol class="breadcrumb mb-3 mb-md-0">
                            <li class="breadcrumb-item">
                                <a href="index.html"><i class="fa fa-home me-1"></i>Home</a>
                            </li>
                            <li class="breadcrumb-item active">
                                Add New Category
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="col-sm-7 col-xl-6">
                    <div class="d-flex justify-content-sm-end">
                        <button type="button" class="btn btn-light">
                            <i class="fa fa-plus me-1"></i> Action
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--breadcrumb end-->
    <div class="page-content mt--65">

        <div class="card">
            <div class="card-header">
                <h4>Add New Category</h4>
            </div>
            <div class="card-body p-4">
                <div class="form-body mt-4">
                    <form id="frmCategory" method="post" asp-controller="Category" asp-action="CreateEdit">
                        @Html.HiddenFor(m=>Model.CategoryId)
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">

                                    @Html.LabelFor(model => model.CategoryTitle, "Title:", new { @class = "form-label" })
                                    @Html.TextBoxFor(m=>Model.CategoryTitle,new{@class="form-control"})
                                    @Html.ValidationMessageFor(model => Model.CategoryTitle, "", new { @class = "text-red" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.CategoryDecription, "Description:", new { @class = "form-label" })
                                    @Html.TextAreaFor(m=>Model.CategoryDecription,new{@class="form-control",@rows="3"})
                                    @Html.ValidationMessageFor(model => Model.CategoryDecription, "", new { @class = "text-red" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.IsActive, "Active:", new { @class = "form-label" })                                    
                                    @Html.CheckBoxFor(model => Model.IsActive, new { id = "active" })
                                    @Html.ValidationMessageFor(model => Model.IsActive, "", new { @class = "text-red" })
                                </div>

                                <div class="col-12">
                                    <div class="d-grid">
                                        <input type="submit" class="btn btn-primary" value="Save Product" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>



